<VirtualHost *:80>
    ServerName localhost
    DocumentRoot your/path/to/app/public # eg /var/www/html/dgu-services/public
    <Directory your/path/to/app> # eg /var/www/html/dgu-services
        AllowOverride All
        Require all granted
        Options Indexes FollowSymLinks
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    Timeout 600
</VirtualHost>
