[submodule "pangolin-utils"]
	path = pangolin-utils
	url = https://github.com/ktsouvalis/pangolin.git
[submodule "authentik-utils"]
	path = authentik-utils
	url = https://github.com/ktsouvalis/authentik.git
